body{
  font-family: Helvetica;
  text-align: center;
}

.header{
  background-image: url("../images/the-flatiron-building.png");
  color:white;
}

.title {
  font-size: 70px;
  font-weight: bold;
}

.nav-links a {
  font-size:18px;
  color: white;
}

.process h2{
  font-size: 32px;
  font-weight: bold;
}


.process h3 {
  font-size: 23px;
  font-weight: bold;
}

.process p {
  font-size: 14px;
}

.new-york {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

footer a {
  color: white;
}
